* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

@font-face {
   font-family: 'nobel';
   src: url('./assets/fonts/nobel.otf');
}

@font-face {
   font-family: 'segoeBold';
   src: url('./assets/fonts/segoeBold.ttf');
}

@font-face {
   font-family: 'segoe';
   src: url('./assets/fonts/segoe-ui.ttf');
}